img {
    width: 300px;
    height: 300px;
}
article{
    display:flex;
    flex-direction: column;
    text-align: center;
}
button{
    margin-top : 50px;
}
.question{
    display:none;
}